<div class="dashboard-wrapper py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <img class="mb-4 mb-md-0 w-75" src="./../../assets/me.svg" alt="logo" />
      </div>
      <div class="col px-4 px-md-2">
        <h1 class="fw-light mb-0">Hi 👋, I'm Musa</h1>
        <div class="fw-light fs-5 text-secondary">Senior Software Engineer</div>
        <hr />
        <div class="fs-6 text-dark">
          Passionate and goal-orientated developer with 10+ years of experience
          in application layers, presentation layers, and databases. A
          JavaScript/TypeScript enthusiast who works in several frameworks and
          libraries especially in ReactJS, NextJS, Cypress, NodeJS/ExpressJS,
          WordPress, and Symphony. I follow the trends so I also have a bit of
          experience in Web 3.0, Blockchain, Smart Contract & Defi.
        </div>
        <hr />
        <div class="d-flex pt-2">
          <div class="social-item">
            <a href="https://github.com/iammdmusa" tabindex="0" target="_blank">
              <img src="../../assets/github.png" alt="github" />
            </a>
          </div>
          <div class="social-item">
            <a
              href="https://www.linkedin.com/in/iammdmusa/"
              tabindex="0"
              target="_blank"
            >
              <img src="../../assets/linkedin.png" alt="linkedin" />
            </a>
          </div>
          <div class="social-item">
            <a
              href="https://stackoverflow.com/users/4586941/shuvo-musa"
              tabindex="0"
              target="_blank"
            >
              <img src="../../assets/stack-overflow.png" alt="stack-overflow" />
            </a>
          </div>
          <div class="social-item">
            <a
              href="https://twitter.com/MdMusa091"
              tabindex="0"
              target="_blank"
            >
              <img src="../../assets/twitter.png" alt="twitter" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
