<div class="login-wrapper">
  <div class="container text-center my-5">
    <div class="row">
      <div class="col">
        <div class="card w-25 mx-auto">
          <div class="card-body">
            <form
              class="form-signin"
              (ngSubmit)="onSubmit(signInForm)"
              #signInForm="ngForm"
            >
              <img
                class="mb-4 logo"
                src="./../../assets/rus-logo.svg"
                alt="logo"
              />
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="emails"
                  placeholder="name@example.com"
                  required
                  autofocus
                  ngModel
                />
                <label for="email">Email address</label>
              </div>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  required
                  ngModel
                />
                <label for="password">Password</label>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                Please fill all fields.
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="areCredentialsInvalid"
              >
                Invalid user or password.
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
