<div class="wrapper">
  <div class="container-fluid px-0">
    <header
      class="p-3 text-bg-dark"
      *ngIf="authenticationService.isAuthenticated"
    >
      <div class="container">
        <div class="row">
          <div class="col-9">
            <ul class="nav mb-2 justify-content-start mb-md-0">
              <li>
                <a
                  routerLinkActive="text-white"
                  routerLink="/dashboard"
                  class="nav-link px-2 text-secondary"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  routerLinkActive="text-white"
                  routerLink="/about"
                  class="nav-link px-2 text-secondary"
                  >About</a
                >
              </li>
            </ul>
          </div>
          <div class="col-3 text-sm-end">
            <button
              type="button"
              (click)="logout()"
              class="btn btn-outline-light pointer"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<router-outlet></router-outlet>
