<div class="dashboard-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="p-5 text-center">
          <img class="avatar" src="./../../assets/me.svg" alt="logo" />
          <div class="fw-light fs-3">Md Musa</div>
          <div class="profile-info mb-2">
            <img src="./../../assets/email.png" alt="Email" />
            musa01717@gmail.com
          </div>
          <div class="profile-info mb-3">
            <img src="./../../assets/mobile-phone.png" alt="Email" />
            +49 999 999 99
          </div>
          <div routerLink="/about" type="button" class="more-details mx-auto">
            More Details
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 border-left">
        <div class="d-block mb-5 px-4 pt-3">
          <rs-repo-stats></rs-repo-stats>
        </div>
        <div class="p-4">
          <rs-bar-chart></rs-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
