<div class="dashboard-wrapper py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-center">
        <img class="mb-4 mb-md-0 w-75" src="./../../assets/me.svg" alt="logo" />
      </div>
      <div class="col-12 col-md-8">
        <div class="px-5 px-md-0">
          <h1 class="fw-light">Md Musa</h1>
          <div class="fw-light fs-5 text-secondary fst-italic">
            Mobile: +49 16219999999
          </div>
          <div class="fw-light fs-5 text-secondary mb-2 fst-italic">
            Email: musa01717@gmail.com
          </div>
          <div routerLink="/about" type="button" class="more-details">
            More Details
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
