<div class="dashboard-wrapper py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
        cupiditate, nobis eos tenetur odio ipsum suscipit veniam, enim corrupti
        nulla veritatis deleniti, illum cumque sit accusamus facere! Sint, iure
        sit?
      </div>
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
        cupiditate, nobis eos tenetur odio ipsum suscipit veniam, enim corrupti
        nulla veritatis deleniti, illum cumque sit accusamus facere! Sint, iure
        sit?
      </div>
    </div>
  </div>
</div>
